<div class="row">
  <div class="col-md-12">

    <div class="article">
      <div class="buttons-show">
        <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-sm btn-primary" %> |
        <%= link_to 'Back', articles_path, class: "btn btn-sm btn-default" %>
      </div>
      <h1 class="title-article ">
        <%= @article.title %>
      </h1>
      <div class="body-article">

        <p class="text-article"><%= @article.text %>
        </p>
      </div>

    </div>

    <h2>Comments</h2>
    <div class="comments">
      <div class="container-comment">
        <%= render @article.comments %>
        <h3>Add a comment:</h3>
        <%= render 'comments/form' %>
      </div>

    </div>


  </div>
</div>
